@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Texturina', serif;
	background: #0D0D0D;
}

.header{
	width: 100%;
	height: 70px;
	position: fixed;
	z-index: 9999;
    background: #0D0D0D;
}
.menu{
	display: flex;
	justify-content: center;
}
.menu a{
	color: #F4DD7A;
	padding: 18px 70px;
	text-decoration: none;
	font-size: 18px;
}
.menu a:hover{
	color:white;
}
.footer{
    height: 350px;
	width: 100%;
	background: #0D0D0D;
}
.email{
	border-radius: 20px;
	width: 100%;
	height: 30px;
}
.mess{
	border-radius: 20px;
	width: 100%;
	height: 100px;
}
.submit{
	right: 33px;
	border-radius: 20px;
	padding: 10px;
	background: #F4DD7A;
	width: 150px;
	margin-top: 15px
}
.padright{
	padding-right: 15px;
}
.giaithoai{
	padding: 120px 0px 50px;
}
.tieude h1{
	font-size: 125px;
	font-weight: 200;
}
a{
	text-decoration: none;
}
.padding-1{
	padding: 50px 80px 20px;
}
.largetext{
	font-size: 30px;
}
.padding-2{
	padding: 50px 80px 80px;
}


@media screen and (max-width:414px){
	.giaithoai body,h1,h2,h3,p{
	width: 20%;
	text-align: left;
	
	}
	.container-2{
		max-width: 90%;
		text-align: center;
		padding-right:  110px;
		padding-bottom: 100px;
		
	}
	.neuban p{
		width: 100%;
	}
	.gt h1{
		text-align: right;
		font-size: 40pt;
	}
	
}
